@charset "utf-8";

/*
  메일 성공 & 실패 card style
*/

.failed,
.success {
  @include setPosition(fixed, 0, 0, 0, 0, 1001);
  @include setFlex(flex, center, center);

  > div {
    width: 300px;
    padding: 20px 40px;
    border-radius: 20px;
    color: $black;
    border: 2px solid $black;
    background-color: $white;

    h3 {
      width: 120px;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    .invalid {
      @include font-m;
      margin: 20px 0;
      text-align: center;
    }
    .close {
      
    }
  }
}