@charset "utf-8";

/*
  skill style
*/
.skill {
  padding: 6rem 0;
  color: $white;
  background-color: $black;
  
  .content {
    .box {
      @include setPosition(absolute, auto, auto, auto, 0, 90);
      width: 100%;
      
      .title {
        max-width: 64rem;
        margin: 0 auto;
        padding: 0 1rem;
        box-sizing: border-box;
        
        h2 {
          @include font-l-2;
          padding: 1rem 0;
        }
      }
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    .bgImg {  
      float: right;
      width: 55%;
      border-radius: 1rem 0 0 1rem;
      overflow: hidden;
  
      img {
        width: 100%;
      }
    }
  }
}


@include mo-lg {
  .skill {
    padding: 4rem 0;
    
    .content {
      .box {
        position: static;        
        .title {
          h2 {
            @include font-l;
            padding: 0;
          }
        }
      }
      &::after {
        display: none;
      }
      .bgImg { 
        display: none;
      }
    }
  }
}